.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.button {
  border-radius: 10px;
  padding: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(87, 30, 96);
}
.hint {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.notificationsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: left;
  padding: 4px;
  background-color: white;
  border: 1px white solid;
  width: 20;
  height: 20;
  border-radius: 50%;
  /* height: 50px; */
}
